.banner {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #333, #111);
    display: grid;
    grid-template: 40% 60% / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}